<!DOCTYPE html>
<html>
    <head>
        <title>Моя карта</title>

        <script>
            let map;
            let clusterer;

            function initMap() {
                ymaps.ready(function(){
                    map = new ymaps.Map("map", {
                        center: [54.7388, 55.9721],
                        zoom: 12,
                        restrictMapArea: [
                            [54.5, 55.7],
                            [55.0, 56.3]
                        ]
                    });

                    // создаём кластеризатор
                    clusterer = new ymaps.Clusterer({
                        preset: 'islands#invertedBlueClusterIcons',
                        groupByCoordinates: false,
                        clusterDisableClickZoom: false,
                        clusterOpenBalloonOnClick: true
                    });

                    map.geoObjects.add(clusterer);

                    console.log("Карта загружена");
                });
            }

            function getColorByType(type) {
                const colors = {
                    "Кафе": "red",
                    "Скамейка": "green",
                    "Фонарь": "yellow",
                    "Парк": "darkGreen",
                    "Беседка": "violet",
                    "Остановка": "blue",
                    "Детская площадка": "orange",
                    "Камера видеонаблюдения": "black"
                };
                return colors[type] || "gray";
            }

            async function loadObjects(type) {
                if (!map || !ymaps) return;

                console.log("Клик:", type);

                clusterer.removeAll(); // очищаем только кластеры

                try {
                    const response = await fetch(`/objects?type=${type}`);
                    const objects = await response.json();

                    const placemarks = objects.map(obj => {
                        const color = getColorByType(type);

                        return new ymaps.Placemark(
                            obj.coords,
                            {
                                balloonContent: `
                                    <div style="font-size:14px">
                                        <b>${obj.name}</b><br>
                                        ${obj.address || "Адрес не указан"}<br><br>
                                        <button onclick="alert('Оценить объект')">
                                            Оценить
                                        </button>
                                    </div>
                                `
                            },
                            {
                                preset: `islands#icon`,
                                iconColor: color
                            }
                        );
                    });

                    clusterer.add(placemarks);

                } catch (err) {
                    console.error("Ошибка:", err);
                }
            }
        </script>
        
        <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=ru_RU" 
            type="text/javascript" 
            onload="initMap()">
        </script>

        <style>
            .button-group {
                margin: 10px 290px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }
            
            .button-group button {
                padding: 8px 16px;
                border: 1px solid #007bff;
                background-color: white;
                color: #007bff;
                font-size: 14px;
            }
            
            .button-group button:hover {
                background-color: #007bff;
                color: white;
            }
        </style>
    </head>

    <body>
        <h2>Тестовый запуск картишки яндекса и объектов</h2>
        
        <div class="button-group">
            <button onclick="loadObjects('Камера видеонаблюдения')">Камеры</button>
            <button onclick="loadObjects('Кафе')">Кафе</button>
            <button onclick="loadObjects('Фонарь')">Фонари</button>
            <button onclick="loadObjects('Скамейка')">Скамейки</button>
            <button onclick="loadObjects('Парк')">Парки</button>
            <button onclick="loadObjects('Беседка')">Беседки</button>
            <button onclick="loadObjects('Остановка')">Остановки</button>
            <button onclick="loadObjects('Детская площадка')">Детские площадки</button>
        </div>

        <div id="map" style="width: 1300px; height: 650px; margin:0px 0px 0px 100px;"></div>
    </body>
</html>